<!DOCTYPE html>
<html>
  <head>
    <title>SmartCart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="wrapper">
    <%= render 'shared/nav' %>

      <!-- Page Content Holder -->
      <div id="content" style="margin-top: 30px;">
        <div id="yield-content">
          <div class="container">
            <%= render 'shared/flash' %>
            <%= yield %>
            <%= render 'shared/footer' %>
          </div>
        </div>
      </div>

      <div class="overlay"></div>
    </div>

  </body>
  
</html>
